# ignores all goland project folders and files
.idea
*.iml
*.ipr

# python venv for dev scripts
.venv

# Ignore all generated backupstore credential files (patches + overlays)
deploy/backupstores/overlays/generated-credentials/*/*.yaml