{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: longhorn-ingress
  namespace: {{ include "release_namespace" . }}
  labels: {{- include "longhorn.labels" . | nindent 4 }}
    app: longhorn-ingress
  annotations:
    {{- if .Values.ingress.secureBackends }}
    ingress.kubernetes.io/secure-backends: "true"
    {{- end }}
    {{- range $key, $value := .Values.ingress.annotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
spec:
  {{- if .Values.ingress.ingressClassName }}
  ingressClassName: {{ .Values.ingress.ingressClassName }}
  {{- end }}
  rules:
  - host: {{ .Values.ingress.host }}
    http:
      paths:
        - path: {{ default "" .Values.ingress.path }}
          pathType: {{ default "ImplementationSpecific" .Values.ingress.pathType }}
          backend:
            service:
              name: longhorn-frontend
              port:
                number: 80
{{- range .Values.ingress.extraHosts }}
  - host: {{ . }}
    http:
      paths:
        - path: {{ default "" $.Values.ingress.path }}
          pathType: {{ default "ImplementationSpecific" $.Values.ingress.pathType }}
          backend:
            service:
              name: longhorn-frontend
              port:
                number: 80
{{- end }}
{{- if .Values.ingress.tls }}
  tls:
  - hosts:
    - {{ .Values.ingress.host }}
    {{- range .Values.ingress.extraHosts }}
    - {{ . }}
    {{- end }}
    secretName: {{ .Values.ingress.tlsSecret }}
{{- end }}
{{- end }}
