{{- if .Values.networkPolicies.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: longhorn-manager
  namespace: {{ include "release_namespace" . }}
spec:
  podSelector:
    matchLabels:
      app: longhorn-manager
  policyTypes:
    - Ingress
  ingress:
    - from:
        - podSelector:
            matchExpressions:
              - key: app
                operator: In
                values:
                  - longhorn-manager
                  - longhorn-ui
                  - longhorn-csi-plugin
                  - longhorn-driver-deployer
        - podSelector:
            matchLabels:
              longhorn.io/managed-by: longhorn-manager
            matchExpressions:
              - { key: recurring-job.longhorn.io, operator: Exists }
        - podSelector:
            matchExpressions:
              - { key: longhorn.io/job-task, operator: Exists }
      ports:
        - port: 9500
          protocol: TCP
{{- end }}
